{% extends "base.html" %}

{% block title %}Customer Details{% endblock %}

{% block content %}
<h1>Customer Details</h1>

<table class="table">
    <tr>
        <th>Business Name</th>
        <td>{{ customer.business_name }}</td>
    </tr>
    <tr>
        <th>P. IVA</th>
        <td>{{ customer.p_iva }}</td>
    </tr>
    <tr>
        <th>SDI Code</th>
        <td>{{ customer.sdi_code }}</td>
    </tr>
    <tr>
        <th>PEC</th>
        <td>{{ customer.pec }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ customer.email }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ customer.phone }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ customer.address }}</td>
    </tr>
</table>

<a href="{% url 'customers:list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
